body{
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
    position: relative;
    min-height: 100vh;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.roundBorderedButton{
    background-color: #ffffff;
    border: 1px solid rgb(26, 137, 23);
    color: #ffffff;
    border-radius: 4px;
    padding: 7px 16px 9px;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
    background-color: rgb(26, 137, 23);
    cursor: pointer;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo{
    width: 50px;
}

a{
    text-decoration: none;
    color: inherit;
}