body{
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
    position: relative;
    min-height: 100vh;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.roundBorderedButton{
    background-color: #ffffff;
    border: 1px solid rgb(26, 137, 23);
    color: #ffffff;
    border-radius: 4px;
    padding: 7px 16px 9px;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
    background-color: rgb(26, 137, 23);
    cursor: pointer;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo{
    width: 50px;
}

a{
    text-decoration: none;
    color: inherit;
}

.TrendingBox{
    border-top: 1px solid rgba(230, 230, 230, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Box__inner{
    min-width: 0px;
    max-width: 1192px;
    padding-top: 40px;
    padding-bottom: 16px;
    margin: 0 48px;
}

.trending_text_area{
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trending_text{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.083em;
    line-height: 16px;
    font-size: 12px;
    font-weight: 700;
    color: rgba(41, 41, 41, 1);
}

.circle_trend{
    border: 1px solid rgba(41, 41, 41, 1);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.trending_feed_area{
    /* padding-top: 40px; */
}

.trending_list{
    display: flex;
    justify-content: center;
}

.trend_box{
    height: 100%;
    width: 100%;
    padding-bottom: 48px;
}

.grid__wrapping{
    grid-template-rows: 1fr;
    display: grid;

}

.listing_zone{
    display: block;
}

.trending_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
}

.area_for_text{
    margin-right: 20px;
    min-width: 0;
    width: 100%;
}

.author__area{
    /* padding-bottom: 8px; */
}

.author__name{
    font-size: 12px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heading__title{
    font-weight: 700;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.time_date_area{
    align-items: baseline;
    display: flex;
    padding-top: 4px;
    justify-content: space-between;
}

.time_and_read{
    display: flex;
    min-width: 0;
}

.timeanddate{
    white-space: nowrap;
    font-size: 13px;
    color: rgba(117, 117, 117, 1);
    line-height: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.dot__area{
    top: -1px;
    padding-right: 6px;
    padding-left: 6px;
    position: relative;
    height: 100%;
}

.dot{
    font-size: 14px;
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    line-height: 20px;
}

.sticky__area{
    position: sticky;
    top: calc(75px + 32px);
}

.tag_area{
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    padding-bottom: 24px;
    flex-direction: column;
    display: flex;
}

.tag__heading{
    margin-bottom: 16px;
}

.tag__header{
    text-transform: uppercase;
    letter-spacing: 0.083em;
    line-height: 16px;
    font-size: 12px;
    font-weight: 700;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tags_outline{
    border: 1px solid rgba(230, 230, 230, 1);
    margin-bottom: 8px;
    padding: 6px 16px;
    margin-right: 8px;
    display: inline-block;
    border-radius: 3px;
}

.tag_text{
    color: rgba(117, 117, 117, 1);
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer__area{
    padding: 24px 0;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}

.footer_item_box{
    margin-right: 26px;
    margin-bottom: 8px;
}

.featured__image{
    width: 150px;
    height: 113px;
}

.messager_box_area{
    box-sizing: inherit;
    display: block;
}

.messagener_box_border{
    box-sizing: border-box;
    max-width: 728px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
    width: 100%;
    display: block;

}

.messenger_box{
    visibility: visible;
}

.box_area{
    margin: 24px -16px;
    background: rgba(0,0,0,0.05);
    border-radius: 4px;
    position: relative;
}

.main__box_messegner{
    max-width: 740px;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
}

.messenger__text{
    line-height: 24px;
    font-size: 16px;
    color: rgba(41,41,41,1);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.main_stories_left_count{
    font-weight: 700;
}

.gapping{
    top: calc(100vh + 335px);
    bottom: calc(100vh + 100px);
    pointer-events: none;
    position: absolute;
    left: 0;
    width: 10px;
}

.article__area{
    overflow-wrap: break-word;
    word-break: break-word;
}

.top__inner_artclesss{
    display: flex;
    justify-content: center;
}

.text__and_name__area{
    margin: 0 64px;
    max-width: 680px;
    min-width:0;
    width: 100%;
}

.title__article{
    margin-bottom: -0.27em;
    font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    color: rgba(41, 41, 41, 1);
    margin: 0;
}

.author_details_article{
    margin-top: 32px;
}

.author_details_article_internal{
    display: flex;
    justify-content: space-between;
}

.author_details_article__area{
    align-items: center;
    display: flex;
}

.author__image_area{
    position: relative;
    width: 48px;
    height: 48px;
}

.author_name__and_date{
    margin-left: 12px;
    width: 100%;
}

.author__name_detaiks{
    display: flex;
    flex: 1 1 0%;
}

.main__text_area_author{
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}

.author_text_name{
    max-height: 20px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
    color: rgba(41, 41, 41, 1);
    font-weight: 400;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.date_and_read{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-overflow: ellipsis;
    max-height: 20px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.per__icon_block{
    padding-right: 6px;
    flex: 0 0 auto;
}

.icons__area{
    display: flex;
    align-items: flex-end;
}

.align__icon_block{
    display: flex;
    align-items:center;
}

.ub{
    clear: both;
}

.featured__image__block_area{
    display: flex;
    justify-content: center;
}

.featured__image__block{
    min-width: 0;
    width: 100%;
}


.featured__image_main{
    width: 100%;
    margin: 56px 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.body__details_area{
    display: flex;
    justify-content: center;
}

.body__details_area_inner{
    max-width: 680px;
    width: 100%;
    min-width: 0;
}

.body_details p{
    margin-bottom: -0.46em;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: -0.004em;
    line-height: 1.58;
    color: rgba(41, 41, 41, 1);
    font-style: normal;
    word-break: break-word;
    font-weight: 400;
}

.body_details h1 {
    letter-spacing: -0.022em;
    line-height: 1.12;
    margin-bottom: -0.28em;
    color: rgba(41, 41, 41, 1);
    font-weight: 500;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

.below__artcile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    clear: both;
}

.inner__end_article{
    max-width: 680px;
    width: 100%;
    min-width: 0;
}

.inner_end_article_tag_area{
    margin-top: 25px;
}

.inner_artcile_ul{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}

.tags_li{
    margin-bottom: 8px;
    margin-right: 8px;
    display: inline-block;
    list-style-type: none;
}

.tag_box_below_artcle{
    background: rgba(242, 242, 242, 1);
    padding: 5px 10px;
    border-radius: 3px;
    line-height: 22px;
    color: rgba(117, 117, 117, 1);
    font-size: 13px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

@media(min-width: 1080px){
    .grid__wrapping{
        grid-column-gap: 32px;
        grid-template-columns: repeat(8,1fr) repeat(4, minmax(48px, 1fr));
        grid-column: 1 / span 7;
        grid-row-start: 1;
    }

    .inner__end_article{
        margin: 0 64px;
    }

    .body_details h1 {
        letter-spacing: 0;
        line-height: 36px;
        font-size: 30px;
        margin-top: 1.25em;
    }

    .body_details p{
        margin-top: 2em;
        font-size: 21px;
        letter-spacing: -0.003em;
        line-height: 32px;
    }

    .body__details_area_inner{
        margin: 0 64px;
    }

    .featured__image__block{
        margin: 0 64px;
        max-width: 1192px;
    }

    .grid__row{
        grid-row-start: 1;
        grid-column: 1 / span 8;
    }

    .grid__row_for_tags{
        grid-column: 9 / span 4;
        grid-row-start: 1;
    }

    .heading__title{
        max-height: 56px;
        letter-spacing: 0;
        line-height: 28px;
        font-size: 22px;
    }

    .title__article{
        letter-spacing: -0.011em;
        line-height: 60px;
        margin-top: 0.55em;
        font-size: 48px;
    }

    .icons__area{
        margin-left: 30px;
    }
}

@media(max-width: 1079.98px) and (min-width: 904px){
    .grid__wrapping{
        grid-column-gap: 32px;
        grid-template-columns: repeat(8,1fr) repeat(4, minmax(48px, 1fr));
    }

    .body_details h1 {
        letter-spacing: 0;
        line-height: 36px;
        font-size: 30px;
        margin-top: 1.25em;
    }

    .body_details p{
        margin-top: 2em;
        font-size: 21px;
        letter-spacing: -0.003em;
        line-height: 32px;
    }

    .featured__image__block{
        margin: 0 64px;
        max-width: 1192px;
    }

    .body__details_area_inner{
        margin: 0 64px;
    }

    .inner__end_article{
        margin: 0 64px;
    }

    .heading__title{
        max-height: 56px;
        letter-spacing: 0;
        line-height: 28px;
        font-size: 22px;
    }

    .grid__row{
        grid-row-start: 1;
        grid-column: 1 / span 8;
    }

    .grid__row_for_tags{
        grid-column: 9 / span 4;
        grid-row-start: 1;
    }

    .title__article{
        letter-spacing: -0.011em;
        line-height: 60px;
        margin-top: 0.55em;
        font-size: 48px;
    }
}

@media(max-width: 903.98px) and (orientation: landscape){
    .heading__title{
        max-height: none;
    }

    .body_details p{
        margin-top: 2em;
        font-size: 21px;
        letter-spacing: -0.003em;
        line-height: 32px;
    }

    .body_details h1 {
        letter-spacing: 0;
        line-height: 36px;
        font-size: 30px;
        margin-top: 1.25em;
    }

    .grid__row_for_tags{
        display: none;
    }

    .body__details_area_inner{
        margin: 0 48px;
    }

    .inner__end_article{
        margin: 0 48px;
    }

    .date_and_read{
        max-height: none;
    }

    .featured__image__block{
        margin: 0 ;
        max-width: 100%;
    }

    .title__article{
        letter-spacing: -0.011em;
        line-height: 60px;
        margin-top: 0.55em;
        font-size: 48px;
    }
}

@media(max-width: 727.98px){
    .heading__title{
        max-height: 40px;
        line-height: 20px;
        font-size: 16px;
        overflow: hidden;
    }

    .body_details h1 {
        letter-spacing: 0;
        line-height: 36px;
        font-size: 30px;
        margin-top: 1.25em;
    }

    .body__details_area_inner{
        margin: 0 24px;
    }

    .inner__end_article{
        margin: 0 24px;
    }

    .featured__image__block{
        margin: 0 ;
        max-width: 100%;
    }

    .title__article{
        letter-spacing: -0.016em;
        line-height: 42px;
        margin-top: 0.56em;
        font-size: 34px;
    }

    .author_details_article_internal{
        margin-top: 32px;
        flex-direction: column-reverse;
    }

    .main__text_area_author{
        margin-bottom: 0px;
    }

    .text__and_name__area{
        margin: 0 24px;
    }

    .body_details p{
        margin-top: 1.56em;
        font-size: 18px;
        letter-spacing: -0.003em;
        line-height: 28px;
    }
}

@media (max-width: 599.95px){
    .Box__inner{
        margin: 0 24px;
    }

    .body_details h1 {
        letter-spacing: 0;
        line-height: 28px;
        font-size: 22px;
        margin-top: 0.93em;
    }

    .inner__end_article{
        margin: 0 24px;
    }

    .icons__area{
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .body__details_area_inner{
        margin: 0 24px;
    }

    .body_details p{
        margin-top: 1.56em;
        font-size: 18px;
        letter-spacing: -0.003em;
        line-height: 28px;
    }

    .featured__image__block{
        margin: 0 ;
        max-width: 100%;
    }
}
